{% extends "base.html" %}

{% block page %}
edit item
{% endblock %}
{% block content %}
<h2>Поиск</h2>
<form action="" method="get">
    <input type="hidden" class="input" id="page" name="page" value="edititem">
    <div class="group">
        <p>id*</p>
        <input type="text" class="input" id="id" name="id" value="{{ values.id }}" />
    </div>
    <div class="group">
        <p><input type="submit" class="button" value="Найти"></p>
    </div>
</form>
{% if error %}
<b>Запись не найдена</b>
{% endif %}
<h2>Редактирование</h2>
<form action="{{ action }}" method="post">
    <input type="hidden" class="input" id="chat_id" name="id" value="{{ values.id }}">
    <input type="hidden" class="input" id="redirect_page" name="page" value="edititem_api">
    <div class="group">
        <p>chat name</p>
        <label for="chat_name"></label>
        <input type="text" class="input" id="chat_name" name="chat_name" value="{{ values.chat_name }}"/>
    </div>
    <div class="group">
        <label for="description"><br>description <br></label>
        <input type="text" class="input" id="description" name="description" value="{{ values.description }}"/>
    </div>
    <div class="group">
        <p>rating</p>
        <input type="text" class="input" id="rating" name="rating" value="{{ values.rating }}"/>
    </div>
    <div class="group">
        <p>country id</p>
        <input type="text" class="input" id="country_id" name="country_id" value="{{ values.country_id }}" />
    </div>
    <div class="group">
        <p>mode id</p>
        <input type="text" class="input" id="modes_id" name="modes_id" value="{{ values.modes_id }}" />
    </div>
    {% if values.error %}
    <font color="red"> Ошибка: {{ values.error_text }} </font>
    {% endif %}
    <div class="group">
        <p><input type="submit" class="button" value="Подтвердить"></p>
    </div>
</form>
{% endblock %}