{% extends "base.html" %}

{% block page %}
get item
{% endblock %}
{% block content %}
<h2>Поиск</h2>
<form action="{{ action }}" method="get">
    <input type="hidden" class="input" id="page" name="page" value="getitem">
    <div class="group">
        <p>id*</p>
        <input type="text" class="input" id="id" name="id" value="{{ values.id }}" />
    </div>
    <div class="group">
        <p><input type="submit" class="button" value="Найти"></p>
    </div>
</form>
<h2>Результаты поиска</h2>
{% if not error %}
<h3>Чат</h3>
<table border = 1>
    <tr>
        <td>id</td>
        <td>chat</td>
        <td>description</td>
        <td>rating</td>
        <td>ref1id</td>
        <td>ref1name</td>
        <td>ref2id</td>
        <td>ref2name</td>
        <td>редактирование</td>
        <td>удаление</td>
    </tr>
    {% for chat in chats %}
    <tr>
        <td>{{ chat.id|e }}</td>
        <td>{{ chat.chat_name|e }}</td>
        <td>{{ chat.description|e }}</td>
        <td>{{ chat.rating|e }}</td>
        <td>{{ chat.ref1id|e }}</td>
        <td>{{ chat.ref1name|e }}</td>
        <td>{{ chat.ref2id|e }}</td>
        <td>{{ chat.ref2name|e }}</td>
        <td><a href=" {{ edit_url }}&id={{ chat.id }} "><button> Редактировать </button></a></td>
        <td><a href=" {{ delete_url }}&id={{ chat.id }} "><button> Удалить </button></a></td>
    </tr>
    {% endfor %}
</table>
<h3>Пользователи</h3>
{% if not users_error %}
<table border = 1>
    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>age</td>
        <td>chat name</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.chat_name }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> По вашему запросу ничего не найдено </p>
{% endif %}
{% else %}
<p> По вашему запросу ничего не найдено </p>
{% endif %}
{% endblock %}